{% extends 'base.html'%}
{% load crispy_forms_tags static %}
{% block content %}
<div class="row">
    <div class="text-center col-11 col-md-3 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Sign In</h2>
                <div class="text-center">
                    <div class="card-body cardbody-color p-lg-5">
                        <img src="{% static 'static_images/logo.png' %}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>
                </div>
                <form action="" method="post">{% csrf_token %} {{ form|crispy }}
                    <button class="btn btn-secondary px-4 py-2" style="background-color: #FFA500;border:none" type="submit">Sign In</button>
                </form>
                <div class="pt-3">
                    <h6 class="text-muted">Need An Account ? <a href="{% url 'register' %}" class="ml-2">Sign
                        Up</a></h6></div>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}