{% extends 'base.html'%}
{% load crispy_forms_tags static %}
{% block content %}
<style>
    #hint_id_password1{display:none}
</style>

<div class="row">
    <div class="text-center col-11 col-md-3 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><h2> Create an account</h2>
                    <div class="card-body text-center cardbody-color p-lg-5">
                        <img src="{% static 'img/logo.png' %}"
                             class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                             alt="profile">
                    </div>
                    <form action="" method="post">{% csrf_token %} {{ form|crispy }}
                        <button class="btn btn-secondary px-4 py-2" style="background-color: #FFA500; border:none;" type="submit">Sign
                            Up
                        </button>
                    </form>
                    <div class="pt-3">
                        <h6 class="text-muted">Already Have an Account ? <a href="{% url 'login' %}" class="ml-2">Sign
                            In</a></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}